.Add {
   margin-right: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   .center {
     width: 150px;
     height: 45px;
     position: absolute;
   }
 
   .btn {
     width: 178px;
     height: 58px;
     cursor: pointer;
     border: 1px solid #91c9ff;
     background: #264653;
     outline: none;
     border-radius: 10px;
     transition: 1.2s ease-in-out;
   }
 
   svg {
     border-radius: 20px;
     position: absolute;
     left: 0;
     top: 0;
     fill: none;
     stroke: #264653;
     stroke-dasharray: 150 480;
     stroke-dashoffset: 150;
     transition: 1s ease-in-out;
   }
 
   .btn:hover {
     border-radius: 20px;
     transition: 1s ease-in-out;
     background: #264653;
   }
 
   .btn:hover svg {
     border-radius: 20px;
     stroke-dashoffset: -480;
   }
 
   .btn span {
     border-radius: 20px;
     color: white;
     font-size: 18px;
     font-weight: 100;
   }
 }
 
 .searchInput {
   // color: #000 !important;
   width: 0;
   padding: 1px 0px;
   color: #fcfcfc !important;
   border: none;
   font-size: 16px;
   padding-left: 20px;
   background: transparent !important;
   transition: width 0.5s ease-in-out; // Transition for width
   &::placeholder{
      color: #fff;
   }
}

.searchInput.open {
   color: #fcfcfc !important;

   padding-left: 20px;
   background: transparent !important;
   width: 400px; // Expanded width when open
 }
 
 .search-box {
   height: 50px;
   display: flex;
   cursor: pointer;
   margin-top: 10px;
  //  background: #fff;
   border-radius: 30px;
   align-items: center;
  //  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  //  background-color: #264653;
 }
 
 .search-box a {
   padding: 11px 20px 11px 5px;
   color: #fff !important;
   fill: #fff;
 }
.filtrTable{

   .anticon {
      svg {
         color: #aaaaaa50;
         width: 28px;
         height: 25px;
      }
   }
}
   