@mixin media($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

.payments{
  padding-left: 30px;
  width: 100vw;
  .title{
    padding-bottom: 10px;
  }
  .payment-page{
    display: grid;
    grid-template-columns:(45% 55%);
    .payment-row{
      height: 100%;
      border: 2px solid #925FE2;
      border-radius: 24px;
      padding: 10px;
      background-color: #ffffff;
    }
  }
  img{
    width: 75vh;
  }
}

.card{
  background-color: #ffffff;
  padding: 10px;
  border-radius: 24px;
  font-size: 18px;
  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .month-date{
      display: flex;
      flex-direction: column;
      gap: 3px;
    }
    .title{
      color: green;
      font-weight: 600;
    }
  }
}
.paymentLine{
  border: 1px solid #925FE275;
}